@page "{id}"
@model ContactManagementApp.Pages.ContactDetailsModel
@{
    ViewData["Title"] = "Contact Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h3>Name:</h3>
    <p>@Model.Contact.Name</p>
</div>

<div>
    <h3>Contact:</h3>
    <p>@Model.Contact.ContactNumber</p>
</div>

<div>
    <h3>Email:</h3>
    <p>@Model.Contact.Email</p>
</div>

<a asp-page="/Index">Back to Contacts List</a>
